*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
button {
  padding: 0;
  margin: 0;
  line-height: 0;
}
:root {
  --black: #121417;
  --green: #85aa9f;
  --green-light: #a5c0b8;
  --white: #fcfcfc;
  --white-1: #f8f8f8;
}
