.menuList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menuLink {
  text-decoration: none;
  color: white;
  font-size: 16px;
  display: block;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
  margin-bottom: 16px;
}
.menuLinkCreate {
  background-color: #fff;
  border-radius: 8px;
  color: #444;
}

.menuLink:hover {
  background-color: #444;
  color: #ddd;
}
